//         /\
//        /  \
//       /    \
//      /      \    Config By Axell, BTW ❄
//     /   ,,   \
//    /   |  |   \
//   /_-''    ''-_\

//  █   █ ▀ █▄ █ █▀▄ █▀█ █   █   █▀█ █ █ █   ▅▀▀▀▄ █▔▔
//  ▀▃▀▃▀ █ █ ▀█ █▃▀ █▄█ ▀▃▀▃▀   █▀▅ █▅█ █▄▄ ▀▄▂▔  ▂▂█

include "windowrules/windowfix.kdl"
include "windowrules/windowapps.kdl"
include "windowrules/windowrule.kdl"